:local(.main) {
  left: 48%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
}

:local(.content) {
  display: flex;
  flex-direction: column;
  width: 100%;
}

:local(.word) {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  width: 100%;
  text-align: center;
}

:local(.definition) {
  font-size: 16px;
  font-weight: 300;
  margin: 0px 8px 8px 8px;
}

:local(.clock) {
  cursor: default;
}

:local(.clockDivider) {
  color: #0000EE;
  margin: 0 8px;
}

:local(.listIcon) {
  margin-right: 8px;
  font-weight: 500;
  color: #0000EE;
}
