:local(.main) {
  left: 48%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
}

:local(.content) {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  word-wrap: break-word;
}

:local(.word) {
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  margin: 0;
  text-transform: lowercase;
  width: 100%;
}

:local(.definition) {
  font-size: 16px;
  font-weight: 300;
  margin: 8px 8px 0 8px;
  text-transform: lowercase;
}

:local(.listIcon) {
  margin-right: 8px;
  font-weight: 500;
  color: #0000EE;
}
