@import './partials/colors';

:local(.main) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

:local(.content) {
  display: flex;
  flex-direction: column;
  left: 48%;
  max-width: 700px;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  word-wrap: break-word;
}

:local(.word) {
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  margin: 0;
  text-transform: lowercase;
  width: 100%;
}

:local(.definition) {
  font-size: 16px;
  font-weight: 300;
  margin: 8px 8px 0 8px;
  text-transform: lowercase;
}

:local(.listIcon) {
  margin-right: 8px;
  font-weight: 500;
  color: $secondary-color;
}

:local(.wordCycleElapse) {
  font-weight: 300;
  font-size: 14px;
  position: absolute;
  right: 8px;
  top: 8px;
}

:local(.wordCycleElapseButton) {
  background-color: transparent;
  border: 0;
  font-size: 14px;
  font-weight: 300;
  outline: 0;
  text-decoration: underline;
  transition: color 250ms ease;
  &:hover {
    color: $secondary-color;
    cursor: pointer;
  }
}
